.container {
  display: flex;
  flex-direction: column;
}

.header {
  order: 99;
}

@media only screen and (min-width: 901px) {
  .header {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    order: 0;
  }
}

@media only screen and (min-width: 901px) {
  .header {
    flex-direction: row;
  }
}

.heading {
  display: none;
}

@media only screen and (min-width: 901px) {
  .heading {
    color: #354052;
    display: block;
    font-size: 24px;
    min-width: 300px;
  }
}

.cancelButton {
  background: #f5f7f9;
  border-radius: 4px;
  border: 1px solid #ced0da;
  color: #4b5464;
  cursor: pointer;
  fill: #a8aab7;
  font-size: 14px;
  height: 36px;
  outline: 0;
  padding: 0;
  text-align: center;
  width: calc(50% - 7px);
  margin-right: 14px;
}

@media only screen and (min-width: 901px) {
  .cancelButton {
    margin: 0 0 0 auto;
    min-width: 100px;
    width: 100px;
  }
}

.addMemberButton {
  background-image: linear-gradient(to bottom, #39b54a, #34aa44 98%);
  border-radius: 4px;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  height: 36px;
  justify-content: center;
  margin-left: auto;
  outline: 0;
  padding: 0;
  width: calc(50% - 7px);
}

@media only screen and (min-width: 901px) {
  .addMemberButton {
    width: 100px;
    margin: 0 0 0 12px;
  }
}

.formTab {
  align-items: center;
  border: 1px solid #e6eaee;
  border-bottom: #fff;
  background-color: #fff;
  border-left: 4px solid #4f88ef;
  border-radius: 4px 4px 0 0;
  display: flex;
  height: 50px;
  padding: 0 32px;
  z-index: 100;
}

@media only screen and (min-width: 901px) {
  .formTab {
    display: inline-flex;
    font-size: 18px;
    position: relative;
  }
}

.form {
  align-items: flex-start;
  border: 1px solid #e6eaee;
  border-left: 4px solid #4f88ef;
  border-radius: 0 4px 4px 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px 22px 16px 24px;
  position: relative;
  margin-bottom: 10px;
}

@media only screen and (min-width: 901px) {
  .form {
    flex-direction: row;
    padding: 40px 30px 46px 30px;
    margin: -1px 0 0 0;
  }
}

.verticalLine {
  display: none;
}

@media only screen and (min-width: 901px) {
  .verticalLine {
    border-left: 1px solid #dfe3e9;
    display: block;
    height: 260px;
    margin-left: 30px;
    width: 0px;
  }
}

.profileImageContainer {
  align-items: center;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

@media only screen and (min-width: 901px) {
  .profileImageContainer {
    flex-direction: column;
    margin: 0;
    width: auto;
  }
}

.profileImage {
  border-radius: 50%;
  display: block;
  margin-right: 20px;
  width: 40px;
  height: 40px;
}

@media only screen and (min-width: 901px) {
  .profileImage {
    width: 100px;
    height: 100px;
    margin: 0 0 10px 0;
  }
}

.inputContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media only screen and (min-width: 901px) {
  .inputContainer {
    margin-left: 30px;
    width: 430px;
  }
}

.label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

@media only screen and (min-width: 901px) {
  .label {
    margin-bottom: 20px;
  }

  .label:last-child {
    margin: 0;
  }
}

.labelHalfWidth {
  width: calc(50% - 5px);
}

.labelHalfWidth + .labelHalfWidth {
  margin: 0 0 0 10px;
}

.labelText {
  display: block;
  color: #7f8fa4;
  font-size: 14px;
  margin-bottom: 7px;
}

.input {
  appearance: none;
  background-image: #fff;
  border-radius: 4px;
  border: solid 1px #ced0da;
  font-size: 14px;
  outline: 0;
  padding: 9px 0 9px 15px;
  width: 100%;
}

.invalidInput {
  border-color: #fb6375;
}

.textArea {
  resize: none;
  height: 84px;
  padding: 0;
  box-sizing: border-box;
}
