{
  "extends": ["airbnb", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "react/prop-types": 0,
    "react/jsx-filename-extension": [
      2,
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ],
    "import/no-extraneous-dependencies": [
      2,
      { "devDependencies": ["**/test.tsx", "**/test.ts"] }
    ],
    "@typescript-eslint/indent": [2, 2],
    "comma-dangle": ["error", "never"],
    "import/no-cycle": [0, { "maxDepth": 5 }],
    "react/jsx-props-no-spreading": [0],
    "import/no-useless-path-segments": [0, { "noUselessIndex": false }],
    "arrow-parens": [0, "as-needed"],
    "operator-linebreak": [0, "none"],
    "explicit-function-return-type": [0, ""],
    "object-curly-newline": [0, "never"],
    "react/jsx-fragments": [1, "element mode"],
    "implicit-arrow-linebreak": [0, "below"]
  }
}
