{
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": ["babel", "prettier"],
  "root": true,
  "rules": {
    "comma-dangle": ["error", "never"],
    "prettier/prettier": ["error"],
    "react/jsx-fragments": [0, "element"],
    "import/no-cycle": [0, { "maxDepth": 5 }],

    "react/jsx-props-no-spreading": [0]
  }
}
