@font-face {
  font-family: 'proximanova';
  src: url('/fonts/proxima-nova/proximanova-regular-webfont.woff')
      format('woff'),
    url('/fonts/proxima-nova/proximanova-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'belloscript';
  src: url('/fonts/bello-script/bello-script.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'proximanova', serif;
}

p {
  margin: 0;
}
