.TimeEntryAdd {
  background-color: #f5f8fa;
  padding: 16px;
  position: relative;
  border: solid 1px #e6eaee;
  border-radius: 4px;
}

.closeButton {
  position: absolute;
  right: 16px;
  background: 0;
  outline: 0;
  border: 0;
  padding: 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  color: #68768c;
  opacity: 0.5;
  font-size: 12px;
  margin-bottom: 12px;
}

.select {
  border-radius: 4px;
  border: solid 1px #ced0da;
  background-image: linear-gradient(to top, #f2f4f7, #ffffff);
  padding: 9px 15px;
  font-size: 14px;
  margin-bottom: 16px;
  outline: 0;
}

@media only screen and (min-width: 601px) {
  .form {
    flex-direction: row;
  }
}
